---
layout: layout.liquid
title: Homepage
---
<img alt="Astroman" src="/images/Astroman.svg">
<h1>| Captain Aurora's Logs</h1>

<h2>The log files that are located here are from the space explorer Aurora's 15-year space exploration. Her adventures of five different planet in our galaxy have changed the world that we live in. It has led to the discovery of valuable resources; her discoveries are making it even more efficient for galaxy exploration travel to this day.</h2>

<h3> > Log Entry 1 Date: June 21 2024 Location: Europa</h3>
<h4>In this log file I was sent on a mission for possiblities of water on the surface or within Europa. It is a moon that rotates around Juipter, and was sent with my team on this exploration. </h4>

<h3> > Log Entry 2 Date: August 03 2024 Location: Proxima Centauri b</h3>
<h4>This log file contains my exporation of Proxima surface after 2 weeks. It is a exoplanet similar to earth and form the images from space it contains bodies of water.</h4>
 