---
layout: layout.liquid
title: Homepage
---
<img alt="Astroman" src="/images/Astroman.svg">
<h1>| Captain Aurora's Logs</h1>

<h2>The log files that are located here are from the space explorer Aurora's 15-year space exploration. Her adventures of five different planet in our galaxy have changed the world that we live in. It has led to the discovery of valuable resources; her discoveries are making it even more efficient for galaxy exploration travel to this day.</h2>

<h3> > Log Entry 1 Date: June 21 2024 Location: Europa</h3>
<h4>This log Captian David was sent on a mission for possiblities of water on the surface of Europa</h4>

<h3> > Log Entry 2 Date: August 03 2024 Location: Proxima Centauri b</h3>
<h4>This log Captian David was sent on a mission for possiblities of water on the surface of Europa</h4>
 