---
layout: layout.liquid
title: Homepage
---

<h1>|Captain David's Logs</h1>

<h2>The files that are located here are from Captian David 20-year space exploration. His dicovery of five different planet have changed the world that we live in. An has led the disvorer of valuable resources, that are making it even more effient for galaxy exploration.</h2>

<h3> >Log Entry 1 Date: June 21 2024 Location: Europa</h3>
<h4>This log Captian David was sent on a mission for possiblities of water on the surface of Europa</h4>

<h3> >Log Entry 2 Date: August 03 2024 Location: Europa</h3>
<h4>This log Captian David was sent on a mission for possiblities of water on the surface of Europa</h4>
