body {
    font-family: 'Cascadia Code', monospace;
    color: #EAE8FF;
    background: #0c0d0c;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 650px;
    border-radius: 50px;
    background: #2d8823;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #0c0d0c;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-family: 'Cascadia Code', monospace;
    color: #2d8823;
    font-size: 5em;
    letter-spacing: -2px;
    border: 5px dashed #2d8823;
    padding: 40px;
    margin-left: 200px;
    margin-right: 200px;
}
a {
    font-family: 'Cascadia Code', monospace;
    font-size: 1.4em;
    font-weight: 600;
    color: #2d8823;
    
}

h2 {
    margin-left: 80px;
    margin-right: 80px;
    font-size: 1.4em;
    font-weight: 600;
    color: #2d8823;
    line-height: 2;
}


img.about {
    opacity: 0.5;
}